<mat-toolbar>Acerca De</mat-toolbar>
<mat-card class="example-card">
  <mat-card-content>
    <p>
      Esta aplicaci&oacute;n ha siso desarrollo por carlos.condor@outlook.com para el curso de aws
    </p>
    <p>
      La funcionalidad t&eacute;cnica consiste en:
    </p>
    <mat-list role="list">
        <mat-list-item role="listitem">Frontend desacoplado y hospedado en AWS S3</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">Backend desacoplado hospedado AWS ECS</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-card-content>
</mat-card>